<PORT>=<Your desired port number>
<DATABASE_URL>=<Your database connection URL>
<REDIS_URL>=<Your Redis connection URL>
<KAFKA_BROKERS>=<Your Kafka brokers connection URL>
<JWT_SECRET>=<Your JWT secret key for signing tokens>