<PORT>=<Your Port Number>
<CLOUDINARY_CLOUD_NAME>=<Your Cloudinary Cloud Name>
<CLOUDINARY_API_KEY>=<Your Cloudinary API Key>
<CLOUDINARY_API_SECRET>=<Your Cloudinary API Secret>
<JWT_SECRET>=<Your JWT Secret>